h1 {
	width: 100%;
	background-color: #EEDDDF;
	padding-bottom: 10px;
	padding-top: 10px;
}

li {
    margin-bottom: 5px;
	line-height: 150%;
}

.pink {
	background-color: #EEDDDF;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#process {
	background-color: #EEDDDF;
	padding-bottom: 50px;
}

#userflow {
	width: 100%;
}

#scenario {
	font-size: 12pt;
}

#home-image {
	width: 100%;
}

#about-image {
	width: 70%;
	align-self: center;
}

.design {
	width: 45%;
	align-self: flex-start;
}

.design2 {
	width: 100%;
	margin-bottom: 30px;
}

.grid2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}

.grid3 {
	width: 45%;
	display:flex;
	flex-direction: column;
}
